[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
sklearn = "*"
seaborn = "*"
matplotlib = "*"
notebook = "*"
vowpalwabbit = "*"
spacy = "*"
nltk = "*"
ipywidgets = "*"
tqdm = "*"
bpemb = "*"
python-certifi-win32 = "*"

[dev-packages]

[requires]
python_version = "3.9"
